# .NET Core
bin/
obj/
*.suo
*.user
*.vs/
*.dll
*.exe
*.pdb
*.cache
*.log
*.zip
project.lock.json
project.fragment.lock.json
artifacts/
*_i.c
*_p.c
*.ilk
*.meta
*.ncb
*.opendb
*.log
*.tlog
*.tmp
*.tmp_proj
*.pidb
*.svclog
*.scc
TestResults/
_ReSharper*/
*.dotCover
*.resharper
*.resharper.user
*.ncrunch*
*.teamcity*
*.dotSettings
*.dbmdl
*.dbproj.schemaview
*.deploymentmanifest
*.settings
*.csproj.user
*.publishsettings
*.cache
*.csproj.nuget.cache
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
*.code-workspace

# Visual Studio Code
.vscode/
*.code-workspace

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.DS_Store

# Other
*.log
*.swp
.DS_Store
Thumbs.db
